{% extends 'base.html' %}

{% block title %}
		REGISTRO DE LABORATORIOS
{% endblock %}

{% block content %}
	<h3>Clientes</h3>
	
<table class="table table-striped">
	<thead>
		<tr>
			<th>Operaciom</th>
			<th>Fecha</th>
			<th>Usuario</th>
			<th>Campo</th>
			<th>Atributo</th>

		</tr>
	</thead>
	<tbody>
		{% for bit in bits %}
			<tr>
				<td>{{ bit.operacion }}</td>
				<td>{{ bit.fecha }}</td>
				<td>{{ bit.usuario }}</td>
				<td>{{ bit.campo }}</td>
				<td>{{ bit.atributo }}</td>
			</tr>
		{% empty %}
			<tr>
				<td colspan="4">No Hay Datos En La Bitacora</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

	
{% endblock %}
