	{% extends 'base.html' %}

{% block title %}
		REGISTRO DE MEDICAMENTOS
{% endblock %}

{% block content %}
	<h3>Medicamentos</h3>
	<h4>Tipo 1*infantil 2*Adulto</h4>
	<h4>Presentacion 1*Tabletas 2*Jarabe 3*Pomada </h4>
	
<table class="table table-striped">
	<thead>
		<tr>
			<th>Medicamento</th>
			<th>Tipo</th>
			<th>Presentacion</th>
			<th>Caducidad</th>
			<th>Laboratorio</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for med in meds %}
			<tr>
				<td>{{ med.nombre }}</td>
				<td>{{ med.tipo }}</td>
				<td>{{ med.presentacion }}</td>
				<td>{{ med.caducidad }}</td>
				<td>{{ med.laboratorio }}</td>
				<td><a class="btn" href="#">Editar</a> <a class="btn" href="#">Borrar</a></td>
			</tr>
		{% empty %}
			<tr>
				<td colspan="4">No se encontraron medicamentos</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<a href="/medicamento/registrar_med/" class="btn btn-primary">Agregar</a>
	
{% endblock %}
